<IfModule mod_rewrite.c>
    #RewriteEngine On
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^ index.php [L]
</IfModule>

AddDefaultCharset utf-8
AddType "text/javascript; charset=utf-8" .js
